.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*html
analysis/*_cache
Black_Panther/
Black_World/
Ebony/
presentations/
Ebony_ID/
BL_ND_ID/
output/
1968_Ebony_articles/
BL_ND/
BL_ND_ID copy/
Ebony_ID copy/